<!-- Menu -->
<div class="center" id="menu">
    <nav class="nav-wrapper white">
          <div class="col s12" >
            <ul class="left">
                <li><a class="black-text" href="./index.php">Netclix</a></li>
                <li><a class="black-text" href="./index.php?controller=recherche&action=build">Recherche</a></li>
            </ul>
            <ul class="right">
                <li><a class="black-text" href="./index.php?controller=panier&action=afficherPanier">Panier</a></li>
                <li><a class="black-text" href="./index.php?controller=panier&action=viderPanier">Vider Panier</a></li>
                <li><a class="black-text" href="./index.php?controller=utilisateur&action=build_inscription">Inscription</a></li>
                <li><a class="black-text" href="./index.php?controller=utilisateur&action=build_connexion">Connexion</a></li>
            </ul>
        </div> 
    </nav> 
</div>